<section *ngIf="this.genero">
    <h1 class="mb-4 mt-5 border-bottom">
      <i class="text-muted fas fa-user"></i> {{ this.genero.nome }}
    </h1>
    <h2>Músicas desse genero</h2>
    <span *ngFor="let musica of disco.listaDeMusicas()">
      <a [routerLink]="['/musicas,', musica.id]"
      *ngIf="genero.id === musica.genero.id">
      
      <p>
        <b>{{ musica.genero.nome }}</b>
        <span *ngFor="let artista of musica.artistas; last as ultimo">
          {{ artista.nome }} <span *ngIf="!ultimo">,
            
          </span>
        </span>
      </p>
    
    </a>
    </span>
  </section>